.container {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 30px;
}

.title {
  font-size: 44px;
  margin-bottom: 30px;
}

.box {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.box:active {
  text-decoration: none;
  transform: translateY(3px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
