.container {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 30px;
}

.title {
  font-size: 44px;
  margin-bottom: 10px;
}

.box {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #ccc; /* 얇은 테두리 */
  border-radius: 8px; /* 모서리를 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 */
  font-size: 16px; /* 텍스트 크기 */
  text-align: center;
  background-color: #fff; /* 배경색 */
  cursor: pointer; /* 마우스 커서를 포인터로 */
  transition: box-shadow 0.3s ease; /* 호버 시 부드러운 전환 효과 */
}

.box:active {
  text-decoration: none; /* 호버 시에도 밑줄 제거 */
  transform: translateY(3px); /* 살짝 아래로 이동 */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* 그림자 줄어듦 */
}
